<div>  
  <div class="grid-x">
    <div class="cell small-12 medium-4 medium-offset-4 inner-form">
      <h2>Okay, what locations do you work in?</h2>
      <h3>You can be as broad as ie: Australia wide or as narrow as say.. North Sydney. Add as many as you like here. I recommend around 4-6 location areas.</h3>
      <p>	</p>
      <%= render 'form', service_location: @service_location %>

    </div>
  </div>
</div>


