<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @service_location.city %>
</p>

<%= link_to 'Edit', edit_service_location_path(@service_location) %> |
<%= link_to 'Back', service_locations_path %>
