<% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
		<div class="t2_portfolio pedit" id="work">
		<% else %>
		<div class="t2_portfolio" id="work">
		<% end %>
		
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell small-12">
						<% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
						<%= link_to "EDIT OUR WORK", new_portfolio_path, class: "button large success" %>
						<% end %>

						<div aria-label="Favorite Space Pictures" class="orbit" data-orbit="" role="region">
							<div class="orbit-wrapper">
								<div class="orbit-controls">
									<button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button> <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
								</div>
								<ul class="orbit-container">
									<% if @portfolios.present? %>
										<% @portfolios.each do |portfolio| %>
												<li class="orbit-slide">
													<figure class="orbit-figure">
														<%= image_tag portfolio.image.variant(quality: "70") %>
													</figure>
												</li>
										<% end %>
									<% else %>
									<li class="is-active orbit-slide">
										<figure class="orbit-figure">
											<img alt="Space" class="orbit-image" src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537389008/templates/davinci/2_JCF7636-3-1005x675.jpg">
											<figcaption class="orbit-caption">
												One of our finest works.
											</figcaption>
										</figure>
									</li>
									<li class="orbit-slide">
										<figure class="orbit-figure">
											<img alt="Space" class="orbit-image" src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537389151/templates/davinci/3_TDOxGeorgeClarkeHR-56-1013x675.jpg">
											<figcaption class="orbit-caption">
												Let metake a selfie
											</figcaption>
										</figure>
									</li>
									<li class="orbit-slide">
										<figure class="orbit-figure">
											<img alt="Space" class="orbit-image" src="https://res.cloudinary.com/thypowerhouse/image/upload/v1537389175/templates/davinci/5_JCF8124-3-1011x675.jpg">
											<figcaption class="orbit-caption">
												Encapsulating
											</figcaption>
										</figure>
									</li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>