<div class="t2_reviews" style="margin-bottom: 20px">
			<!-- Reviews Panel -->
			
			<div class="grid-container">
				<% if @reviews.blank? && !user_signed_in? || @reviews.blank? && params[:edit_mode] != "true" %>
				<% else %>

					<% if user_signed_in? && @reviews.blank? && current_user.id == @site.user_id %>
					<div class="grid-container" style="margin-top:70px;">
						<div class="text-center">
							<h2>You have 0 Reviews - add some!</h2>
							<%= link_to "ADD REVIEWS", new_review_path, class: "button large success" %>
						</div>
					</div>
					<% elsif @reviews.present? %>
					<div class="grid-container" style="margin-top:70px;">
						<div class="text-center">
							<h2>Reviews
							 <% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
								<%=link_to reviews_path do %>
									<span class="button success" style=" font-size: 16px;">
										<i class="fas fa-pencil-alt  " ></i> Manage Reviews
									</span>
								<% end %>
							<% end %>
							</h2> 
						</div>
						<div class="site-reviews-inner">
								
									<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
									  <div class="orbit-wrapper">
									    <div class="orbit-controls">
									      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
									      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
									    </div>
									    <ul class="orbit-container">
									      <% @reviews.each do |review| %>
									      <li class="orbit-slide review-content">
									        <figure class="orbit-figure">
									          <p><%= review.content %></p>
									          <i class="fa fa-star" style="color: #ffc700"></i>
									          <i class="fa fa-star" style="color: #ffc700"></i>
									          <i class="fa fa-star" style="color: #ffc700"></i>
									          <i class="fa fa-star" style="color: #ffc700"></i>
									          <i class="fa fa-star" style="color: #ffc700"></i>
									          <i> <%= review.name %></i>
									        </figure>
									      </li>
									      <% end %>
									    
									    </ul>
									  </div>
									  
									</div>
						</div>
					</div>
					<% end %>
				<% end %>

			</div>
		</div>