<% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
<div class="t_2_quote pedit">
<% else %>
<div class="t_2_quote">
<% end %>
	<div class="grid-x">
		
		<div class="cell small-12 medium-6 medium-offset-3 text-center">
		
			<span><%= @custom.quotebar_1_subtxt %></span><br>
			<h2><%= @custom.quote_bar_primarytxt %></h2><a href="#contact" class="primary button large" style="border: 2px solid white; background-color: rgba(0,0,0,0);"><%= @custom.quote_bar_btntxt %></a>
			<% if user_signed_in? && current_user.id == @site.user_id && params[:edit_mode] == "true" %>
				<%= link_to "EDIT QUOTE BAR", edit_template_custom_path(@custom, quote_bar_1: "true"), class: "button large success" %>
			<% end %>
		</div>
	</div>
</div>