<div class="t_2_cta_bar">
	<div class="grid-x">
		<div class="cell small-12 text-right">
			<a href="tel:<%= @site.phone %>" style="color: white;"><i class="fa fa-phone"></i> <%= @site.phone %></a><a href="mail_to: <%= @site.user.email %>" style="color: white;"> <i class="fa fa-envelope"></i> <%= @site.user.email %></a>
		</div>
	</div>
</div>