<div class="grid-container" style="margin-top: 50px;">
<div class="grid-x grid-margin-x text-center">

	<div class="cell small-12 inner-form text-center">
      	<h2>Start by choosing a template</h2>     
      <h3>You can preview each template by clicking on them. </h3> 
		<div class="grid-x grid-margin-x grid-margin-y" style="margin-top: 50px;">
			<% @templates.each do |template| %>
		    	<div class="cell small-12 medium-4">
				    <div class="template-image-container">
				      <%= image_tag template.image, height: '250', width: '400' %>
				    </div>
				    <div class="template-image-container-bottom">
				    	Preview the <%= template.title %> template
				    </div>
		    	</div>
			<% end %>
		</div>

    </div>

    
</div>
</div>