<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @templates.each do |template| %>
    <div class="swiper-item">
      <%= template.body.html_safe %>
    </div>
    <% end %>
  </div>
</div>
