<div id='slider' class='swipe'>
  <div class='swipe-wrap'>
    <% @templates.each do |template| %>
       <div><%= template.body.html_saf %></div> 
    <% end %>
  </div>
</div>

<script>
  window.mySwipe = new Swipe(document.getElementById('slider'), {
  startSlide: 2,
  speed: 400,
  auto: 3000,
  continuous: true,
  disableScroll: false,
  stopPropagation: false,
  callback: function(index, elem) {},
  transitionEnd: function(index, elem) {}
});
</script>