<%= @template.body.html_safe %>

<div class="template-arrow-banner">
	<div class="grid-x">
		<div class="cell auto text-left">
			<%= link_to "GO BACK", templates_path, class: "button large primary" %>
		</div>
		<div class="cell auto text-center">
			<h3 style="color: white;">Like this template?</h3>
		</div>
		<div class="cell auto text-right">
			<%= link_to "GO BACK", templates_chosen_template_path, class: "button large success" %>
		</div>
	</div>
</div>
