<%= @template.body.html_safe %>

<div class="template-arrow-banner">
	<div class="grid-x grid-margin-x">
		<div class="cell auto text-right">
			<%= link_to "GO BACK", templates_path, class: "button large primary expanded" %>
		</div>
		<div class="cell auto text-center show-for-medium">
			<h3 style="color: white;" style="margin-top: 20px;">Like this template?<br /> Click "love it" to continue >> </h3>
		</div>
		<div class="cell auto text-left">
			<%= link_to "LOVE IT", chosen_template_path(template_name: @template.title), class: "button large success expanded" %>
		</div>
	</div>
</div>



<% if session[:sound_3].blank? %>
<div style="position: absolute; left: -9000px; top:-9000px;">
<embed src="https://res.cloudinary.com/thypowerhouse/video/upload/v1537563363/2minute/audio/3_template_preview.mp3">
</div>

<% end %>

<% session[:sound_3] = true %>