<div>  
  <div class="grid-x">
    <div class="cell small-12 medium-4 medium-offset-4 inner-form">
      <h2>Here's what you need to do</h2>
      <h3>You'll need to login to your domain name provider and add an A Record which looks similar to the one below.</h3>
     
      www.yourdomainname.com.au >> site.2min.com.au<br />
      yourdomainname.com.au >> site.2min.com.au

      

    </div>
  </div>
</div>