<div>  
  <div class="grid-x">
    <div class="cell small-12 medium-4 medium-offset-4 inner-form">
      <h2>Let's buy your domain</h2>
      <h3>Google domain goes here</h3>
    </div>
  </div>
</div>