<div>  
  <div class="grid-x">
    <div class="cell small-12 medium-4 medium-offset-4 inner-form text-center">

 

		
    <h1 style="font-size: 30px;">You're done</h1>
    <%= link_to "Visit Your Site", root_path, class: "button larg primary" %>
      

    </div>
  </div>
</div>

