<div>  
  <div class="grid-x">
    <div class="cell small-12 medium-4 medium-offset-4 inner-form">
      <h2>And that's a wrap!</h2>
      <h3>Well nearly, you could keep your site as is. However, it's probably best you add a domain name to it. <h3>




		

      

    </div>
  </div>
</div>