<div>  
  <div class="grid-x">
    <div class="cell small-12 medium-4 medium-offset-4 inner-form">

        <% if @domain_available == true %>

        <div class="grid-x">
          <div class="cell small-12">
            <div class="domain-card text-center">
              <h2 style="color: #0E304A;">GREAT NEWS</h2>
              <h4 style="color: #0088F1; font-size: 14px;">.com.au</h4>
              <h2 style="color: #F30033; font-size: 26px;">DOMAIN IS AVAILABLE</h2>

              <div style="margin-top: 20px;">
                I can purchase it on your behalf if you like:
                <div class="credit-card-scenario">
                  <div class="grid-x">
                    <div class="cell shrink credit-card-scenario-left">
                      <i class="fab fa-cc-visa"></i>
                    </div>
                    <div class="cell auto credit-card-scenario-right">
                      XXXX-XXXX-XXXX-0147
                    </div>
                  </div>
                   
                </div>
                It's currently just <span style="color: #F30033; font-weight: bold;">$25 per year</span>, If you want I can also set up an email address and take care of all the nerdy stuff for you.<br /><br />
                
                <p><strong>Alternatively, you may want to choose from the following options</strong></p>
                <div class="grid-x grid-margin-x">
                  <div class="cell auto">
                    <button class="button primary expanded">Connect an existing domain</button>
                  </div>
                  <div class="shrink" style="padding-top: 20px;">
                    <strong>OR</strong>
                  </div>
                  <div class="cell auto">
                    <%= link_to "Purchase a different domain", domains_path, class: "button success expanded" %>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
            
        <% end %>


		

      

    </div>
  </div>
</div>