
<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-12 medium-6 text-center">
      <h1 style="font-size: 26px; font-weight: 600;">Choose a domain</h1>
      <%= render 'form', @domain %>
    </div>
  </div>
</div>
