<div>  
  <div class="grid-x">
    <div class="cell small-12 medium-4 medium-offset-4 inner-form">
      <h2>Add any licences or accreditations. You can add as many as you like</h2>
      <h3> If you don't have a reference number associated to a license just leave it blank.</h3>      
		<%= render 'form', accreditation_and_licence: @accreditation_and_licence %>
    </div>
  </div>
</div>