

@media only screen and (max-width: 768px) {

   .home-bg-mobile{
      background-image: url('https://res.cloudinary.com/thypowerhouse/image/upload/v1536990310/iphone_monkey.jpg');
      background-size: cover;
      height: 100vh;
      background-position: bottom;
   }

   .home-content{
      padding-top: 60px;
      text-align: center !important;
   }

   .home-content h1{
      font-weight: 800;
      letter-spacing: -2px;
      color: #0E304A;
      font-size: 30px;
      line-height: 28px;
      margin-top: 20px;
   }

   .home-content h1 span{
      color: #f30033;
   }

   .home-content h2{
      font-weight: 300;
      letter-spacing: -1px;
      color: #0E304A;
      font-size: 30px;
   }

   .home-traingle{
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 150px 0 0 150px !important;
   border-color: #f30035 transparent transparent transparent;
   position: absolute;
   top: 0;
   left: 100% !important;
   margin-left: -150px !important;
   }

.triangle-txt{
   font-size: 24px;
   line-height: 24px;
   font-weight: 700;
   letter-spacing: -1px;
   color: #fff;
   margin-top: -130px !important;
   margin-left: -100px !important;
   -webkit-transform: rotate(45deg) !important;
   -moz-transform: rotate(45deg) !important;
   -ms-transform: rotate(45deg) !important;
   -o-transform: rotate(45deg) !important;
   text-align: center;
}

}
