

@media only screen and (max-width: 768px) {
   .home-bg {
         display: none;
   }

   .home-bg-mobile{
      background-image: url('https://res.cloudinary.com/thypowerhouse/image/upload/v1536990310/iphone_monkey.jpg');
      background-size: cover;
      height: 100vh;
      background-position: bottom;
   }

   .home-content{
      padding-top: 60px;
      text-align: center;
   }

   .home-content h1{
      font-weight: 800;
      letter-spacing: -2px;
      color: #161616;
      font-size: 40px;
      line-height: 40px;
      margin-top: 20px;
   }

   .home-content h1 span{
      color: #f30033;
   }

   .home-content h2{
      font-weight: 300;
      letter-spacing: -1px;
      color: #fff;
      font-size: 30px;
   }

   
}
