<div>  
  <div class="grid-x">
    <div class="cell small-12 medium-4 medium-offset-4 inner-form">
      <h2>Do you have your business logo handy?</h2>      
      <h3>If not, don't worry we'll add this placeholder logo for the time being.</h3>
		<%= render 'form', intro: @intro, color: @color %>
    </div>
  </div>
</div>