<div>  
  <div class="grid-x">
    <div class="cell small-12 medium-4 medium-offset-4 inner-form">
      <h2>Ah yes reviews</h2>  
      <i class="fa fa-star" style="color: #ffc700"></i>
							          <i class="fa fa-star" style="color: #ffc700"></i>
							          <i class="fa fa-star" style="color: #ffc700"></i>
							          <i class="fa fa-star" style="color: #ffc700"></i>
							          <i class="fa fa-star" style="color: #ffc700"></i>   
      <h3>So if you have legit reviews or testimonials you can add them here. If they're not legit, I'll just close my eyes.. It's on you. I will however, make them all 5 star ;) you can thank me later.</h3> 
		<%= render 'form', review: @review %>
    </div>
  </div>
</div>
