<div class="footer-paid-banner">
	<span>50% Discount for today only!</span> Launch your tradie site for just $29/month. 
	<%= link_to "LAUNCH NOW!", charge_payment_page_path, class: "button primary", style: "margin-top:10px; " %>
</div>